th {
  cursor: pointer;
}
h1 {
  text-align: center;
  color: skyblue;
}
.align-right {
  float: right;
}

.routeIcon {
  margin: 5px;
}

.pointer {
  cursor: pointer;
}

.red-color {
  color: red;
}
.blue-color {
  color: blue;
}

.icon-stl {
  font-size: 20px;
  color: rgb(139, 138, 228);
  cursor: pointer;
}

.pad {
  margin-right: 10px;
}
